$slider-size: 5px;

.player-container {
  border-radius: 15px;
  position: relative;
  aspect-ratio: '9/6';

  .vds-blocker {
    height: 100% !important;
  }
}

.vds-poster {
  position: absolute;
  inset: 0;
  width: 100%;
  border-radius: 15px;
  z-index: 0;
}

[data-started] .vds-poster {
  display: none;
}

.vds-gesture {
  position: absolute;
  inset: 0;

  @media (hover: none) {
    display: none;
  }
}

.vds-gesture-mobile {
  position: absolute;
  width: 35%;

  @media (hover: hover) {
    display: none;
  }
}

.vds-gesture-mobile[action="seek:10"] {
  inset: 0 0 0 auto;
}

.vds-gesture-mobile[action="seek:-10"] {
  inset: 0 auto 0 0;
}

.blur-layer {
  position: absolute;
  z-index: 0;
  inset: 0;
  background-color: rgb(200 200 200 / .4);
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  border-radius: 15px;
}

.vds-buffering-indicator {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / .7);
}

.player-container[data-buffering] .vds-buffering-indicator {
  display: flex;
}

.vds-buffering-spinner {
  width: 66px;
  animation: spinner .5s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.vds-buffering-track {
  color: rgb(50 50 50 / .7);
  opacity: .3;
}

.vds-buffering-track-fill {
  color: var(--primary-color);
  stroke-linecap: round;
}

[data-ended] .timeslider {
  display: none;
}

.timeslider {
  height: $slider-size;
  position: absolute;
  inset: auto 5px 60px 5px;
  cursor: pointer;
  transition: .15s linear;
  background-color: rgb(50 50 50 / .4);
  z-index: 999;

  &:focus {
    outline: none;
  }

  &:hover > .timeslider-thumb {
    inset: -5px 0 auto var(--slider-fill);
    display: block;
  }

  &:hover > .timeslider-track {
    width: var(--slider-pointer);
  }

  @media (hover: none) {
    bottom: 80px;
  }

  @media (hover: none) and (max-width: 720px) {
    bottom: 53px;
  }

  @media (hover: none) and (max-width: 400px) {
    bottom: 40px;
  }
}

.timeslider.hidden {
  opacity: 0;
  pointer-events: none;
}

.timeslider-track {
  width: 0;
  height: $slider-size;
  background-color: rgb(255 255 255 / .3);
  border-radius: 2px;
}

.timeslider-trackfill {
  height: $slider-size;
  background-color: var(--primary-color);
  position: absolute;
  width: var(--slider-fill);
  inset: 0 0 auto 0;
  z-index: 10;
  border-radius: 2px;
}

.timeslider-progress {
  height: $slider-size;
  background-color: rgb(255 255 255 / .5);
  position: absolute;
  inset: 0 0 auto 0;
  border-radius: 2px;
  width: var(--slider-progress);
}

.timeslider-thumb {
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  display: none;
}

@media (max-width: 800px) {
  .player-container, .blur-layer {
    border-radius: 0;
  }
}

@media (hover: none) {
  .player-container:not([data-fullscreen]) .timeslider {
    inset: auto 0 0 0;
  }

  .player-container:not([data-fullscreen]) .controls-container-mobile {
    bottom: 10px;
  }
}