.blur-box-container {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  .blur-box {
    width: 150px;
    height: 150px;
    background-color: rgb(100 100 100 / .4);
    cursor: grab;
    z-index: 10;
    pointer-events: all;
    position: fixed;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    overflow: hidden;
    resize: both;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:active {
      cursor: grabbing;
    }

    &:focus > svg {
      opacity: 1;
      pointer-events: all;
    }
    
    svg {
      width: 40px;
      fill: #fff;
      cursor: pointer;
      transition: .15s linear;
      opacity: 0;
      pointer-events: none;

      &:hover {
        fill: rgb(200 200 200 / .8);
      }
    }
  }
}