.vds-note-container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-container {
  position: fixed;
  z-index: 999;
  background-color: #182226;
  padding: .5em .3em;
  border-radius: 7px;
  animation: note .15s linear;
  min-width: 350px;

  &:active {
    z-index: 9999;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .8rem;
    border-bottom: 1px solid #fff;
    padding-bottom: .7em;
    padding-left: .5em;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    .note-controls {
      display: flex;
      gap: 1rem;

      svg:first-child {
        rotate: -105deg;
      }
      svg {
        width: 20px;
        cursor: pointer;
        fill: #fff;
        transition: .15s linear;
    
        &:hover {
          fill: var(--primary-color);
        }
      }
    }
  }

  .note-field-container {
    position: relative;
    #note-field {
      width: 100%;
      height: 200px;
      background-color: transparent;
      font-size: 1.1rem;
      padding: .3em;
      border: none;
      resize: none;
      caret-color: var(--primary-color);

      &:focus {
        outline: none;
      }

      &::-webkit-scrollbar {
        background-color: transparent;
        width: 7px;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color-transparent);
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .save-btn {
      cursor: pointer;
      position: absolute;
      inset: auto 8px -2px auto;
      padding: .2em .5em;
      background-color: var(--primary-color);
      border: none;
      border-radius: 5px;
      font-size: 1.1rem;

      &:active {
        opacity: .85;
      }
    }

    .save-btn:disabled {
      background: var(--dim-gray);
    }
  }
}

@keyframes note {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}