.side-panel {
  width: 350px;
  background-color: var(--page-bg);
  box-shadow: 5px 0 10px var(--shadow-color);
  position: fixed;
  inset: 0 auto 0 auto;
  z-index: 999;
  padding: .8em;
  animation: sidePanel .1s linear;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@keyframes sidePanel {
  from {
    transform: translateX(-104%);
  }
  to {
    transform: translateX(0);
  }
}

.side-panel-header {
  display: grid;
  grid-template-columns: 150px 35px;
  justify-content: space-between;
}

.mode-toggle {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 0;
  cursor: pointer;
}

.sun, 
.moon {
  width: 30px;
  height: 30px;
  fill: var(--theme-toggler-color);
  transition: .15s linear;
  animation: rotate-toggler 10s linear infinite;

  &:hover {
    scale: 1.1;
  }
}

@keyframes rotate-toggler {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.xmark {
  cursor: pointer;
  font-size: 0;
  border-radius: 50%;
  transition: .15s linear;
  fill: var(--text-color);

  &:hover {
    fill: var(--primary-color);
  }
}

.add-section {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 35px;
  margin: 50px 0;

  #add-disc {
    font-size: 1.2rem;
    padding: 0 .3em;
    background-color: var(--page-bg);
    border: 1px solid var(--text-color);
    color: var(--text-color);

    &:focus-within {
      border-color: var(--primary-color);
      outline: none;
    }

    &::placeholder {
      color: var(--placeholder-color);
    }
  }

  svg {
    cursor: pointer;
    transition: .15s linear;
    fill: var(--text-color);

    &:hover {
      background-color: var(--primary-color);
      fill: #fff;
    }
  }
}

.current-discs-label {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom:10px;
  display:block;
}

@media (max-width:400px) {
  .side-panel {
    width:90%;
  }
}

@media (hover:none) {
  .xmark:hover {
    background-color:initial;
  }

  .add-section svg:hover {
    background-color: initial;
  }
}