.settings-container {
  position: absolute;
  z-index: 999;
  inset: auto 50px 70px auto;
  width: 300px;
  background-color: rgb(13, 17, 23);
  border-radius: 7px;
  padding: .5em .2em;
  animation: settings .15s linear;
  color: #fff;

  @media (max-width: 400px) {
    position: fixed;
    inset: auto 10px 10px 10px;
    width: auto;
    box-shadow: 0 0 10px #000;
  }
}

@keyframes settings {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);    
  }
}

.settings-title {
  padding: .2em;
  border-bottom: 1px solid #fff;
}

.settings {
  list-style: none;
  padding-top: .3em;
}

.setting {
  display: flex;
  gap: .3rem;
  align-items: center;
  cursor: pointer;
  padding: .3em .2em;
  border-radius: 5px;
  
  &:hover {
    background-color: var(--primary-color);
  }

  svg {
    width: 25px;
    fill: #fff;
  }
}

.controls-container-mobile {
  .settings-container {
    width: 250px;
    z-index: 999;
    inset: 40px 40px auto auto;
  }
}