.suggestions-box {
  z-index: 999;
  position: absolute;
  margin-top: 15px;
  max-height: 600px;
  overflow-y: auto;
  width:50%;
  border-radius:5px;
  background-color: var(--suggestions-bg);
  transition: all .2s linear;
  box-shadow: 2px 2px 10px var(--shadow-color);
  top: 55px;
  animation: suggestions .15s linear;

  &::-webkit-scrollbar {
    background-color: transparent;
    width:7px;
    
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius:30px;
    cursor: pointer;

    &:hover {
      background-color:#dddddd;
    }
  }

  .channel-icon {
    width:45px;
    border-radius:50%;
  }
}

.suggestion {
  display:flex;
  align-items:center;
  gap: .5em;
  cursor:pointer;
  padding:.3em .8em;
  transition: .07s linear;

  &:hover {
    background-color:var(--suggestion-hover-bg);
  }

  &:not(:last-child) {
    margin-bottom:10px;
  }

}

.channel-name {
  color: var(--text-color);
  display:inline-block;
  margin-bottom:3px;
}

.channel-handle-name {
  color: var(--dim-gray);
}

@media (max-width: 800px) {
  .suggestions-box {
    top:135px;
    width:91%;
  }
}

.search-history-suggestion {
  color: var(--text-color);
  padding-inline: .7em;
  font-size: 1.2rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  gap: .6rem;

  &:hover {
    background-color: var(--suggestion-hover-bg);
  }

  &:hover > .delete-btn-container > .suggestion-delete-btn {
    display: inline;
  }

  .suggestion-text {
    padding-block: .45em;
  }

  .match-bold {
    font-weight: 700;
  }
}

.clock-container, 
.delete-btn-container {
  padding-block: .45em;
}

.clock, .suggestion-delete-btn {
  width:100%;
  fill: var(--dim-gray);
}

.suggestion-delete-btn {
  display: none;
  
  &:hover {
    fill: var(--primary-color);
  }
}

.clear-history-container {
  text-align: right;

  .clear-history-btn {
    color: var(--text-color);
    font-style: italic;
    background: none;
    border: none;
    padding: .2em .5em;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      color: var(--dim-gray);
    }
  }
}



@keyframes suggestions {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}