.new-disc-adder {
  background-color: var(--suggestions-bg);
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  position: absolute;
  top: 115px;
  right:25%;
  z-index: 100;
  border-radius: 5px;
  font-size:1.2rem;
  padding:.5em;
  display:flex;
  flex-direction: column;
  align-items:center;
  gap:.7rem;
  animation: newAdder .1s;
}

.new-disc-adder.open-top {
  top:-170px;
}

#new-disc-adder-input {
  height:35px;
  padding:0 .4em;
  font-size: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  background-color: var(--page-bg);

  &:focus-within {
    outline: none;
    border-color: var(--primary-color);
  }

  &::placeholder {
    color:rgb(78, 78, 78);
  }
}

.new-disc-adder-btns-container {
  display:flex;
  gap: 2rem;

  button {
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    padding:.4em .8em;
    color: var(--text-color);
    background-color: var(--saved-video-hover);
    border-radius:5px;
    cursor:pointer;
    transition: .15s linear;

    &:hover {
      opacity:.85;
    }
  }
}

@keyframes newAdder {
  from {
    opacity: 0;
    transform: translateY(30%);
  }  

  to {
    opacity: 1;
    transform: translateY(0);
  }
}