.discs-actions-container {
  position:absolute;
  background-color: var(--suggestions-bg);
  box-shadow: 3px 3px 10px black;
  top:120px;
  right:30%;
  z-index: 100;
  padding:.3em 0;
  width:200px;
  font-size:1.2rem;
  font-weight:600;
  border-radius: 5px;
  animation: discs .1s;
}

.disc-actions {
  padding: .4em;

  &:hover {
    background-color: var(--primary-color-transparent);
  }
}

.discs-actions-container.open-top {
  bottom:150px;
  top:auto;
}

@keyframes discs {
  from {
    opacity: 0;
    transform: translateY(20%);
  }  

  to {
    opacity: 1;
    transform: translateY(0);
  }
}