.spinner-container {
  position: absolute;
  z-index: 0;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner-outer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid rgb(100 100 100 / .4);
    position: relative;
    
    .spinner-inner {
      position: absolute;
      inset: -5px;
      border-radius: 50%;
      border: 5px solid var(--primary-color);
      border-bottom-color: transparent;
      animation: spinner .6s linear infinite;
    }
  }
}

@keyframes spinner {
  from {
    transform: rotateZ(0);
  } 
  to {
    transform: rotateZ(360deg);
  }
}