.discs-container {
  position: absolute;
  inset: 105px 30px auto auto;
  width: 200px;
  padding-block: .2em;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  background-color: var(--suggestions-bg);
  z-index: 15;
  animation: discs .15s linear;

  &>h3 {
    cursor: pointer;
    padding: .3em .5em;

    &:active {
      background-color: var(--primary-color-transparent);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-color-transparent);
      }
    }
  }
}


@keyframes discs {
  from {
    transform: translateY(30%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}