.saved-videos-header {
  display:grid;
  grid-template-columns: 40% 1fr;
  min-height: 70px;
  align-items: center;
  padding: 0 1em;
  border-bottom: 2px solid rgb(25, 135, 84);
  background-color: #fff;
  box-shadow: 0 5px 15px #666;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.logo-menu-container {
  display:grid;
  grid-template-columns: 40px 120px;
  gap: 1rem;
}