.saved-videos {
  display:grid;
  grid-template-columns: 360px 1fr;
  padding: 2em .1em 0 2em;
  gap: 1rem;

  @media (width < 1000px) {
    grid-template-columns: 100%;
    padding: 0;
    padding-top: 4.3em;
  }
}

.saved-videos.empty {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 6vw;
    padding: 1em;
  }
}