.panel-outer {
  width:100%;
  border-radius: 15px;
  background-size: 100% ;
  background-position: center;
  background-repeat: no-repeat;

  @media (width < 1000px) {
    border-radius: 0;
    background-size:cover;
  }
}

.panel-inner {
  width:100%;
  height:100%;
  padding:1em;
  border-radius:15px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  color:#fff;
  background-color: rgba(10, 10, 10, .5);

  @media (width < 1000px) {
    border-radius: 0;
    display:grid;
    grid-template-columns: 330px 1fr;
    align-items: center;
    gap: 1rem;
  }
}

.top-video-container {
  margin-bottom: 1rem;
  
  .top-video-thumbnail {
    width:100%;
    height:183px;
    object-fit: cover;
    border-radius:15px;
    cursor:pointer;
  }
}

.disc-details {

  h2 {
    margin-bottom:.5rem;
  }

  p {
    padding-left:.3em;
    color: rgb(200, 200, 200);
  }
}