.panel-outer {
  width:100%;
  border-radius: 15px;
  background-size: 100% ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (width < 1000px) {
    border-radius: 0;
    background-size:cover;
  }
}

.panel-inner {
  width:100%;
  height:100%;
  padding:1em;
  border-radius:15px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  color:#fff;
  background-color: rgba(10, 10, 10, .5);

  @media (width < 1000px) {
    border-radius: 0;
    display:grid;
    grid-template-columns: 330px 1fr;
    align-items: center;
    gap: 1rem;
  }

  @media (width <= 500px) {
    grid-template-columns: 100%;
    justify-content: center;
    gap:0;
  }
}

.top-video-container {
  margin-bottom: 1rem;
  font-size: 0;
  height:183px;
  position: relative;

  @media (width < 520px) and (width > 400px) {
    margin-bottom: .5rem;
    height: 210px;
  }

  @media (width <= 400px) {
    height: 160px;
  }

  .top-video-navigator {
    position: absolute;
    inset: 0;
    border-radius: 15px;
    background-color: rgb(0 0 0 / .75);
    transition: .1s linear;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    gap: .5rem;
    opacity: 0;

    svg {
      height: 20px;
      fill: #fff;
    }

    &:hover {
      opacity: 1;
    }
  }
  
  .top-video-thumbnail {
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius:15px;
    cursor:pointer;

    @media (width <= 400px) {
      border-radius: 5px;
    }
  }
}

.disc-details {

  h2 {
    margin-bottom:.5rem;
    
    @media (width < 520px) {
      margin-bottom: 0;
    }
  }

  p {
    padding-left:.3em;
    color: rgb(200, 200, 200);
  }
}